/* Menu "La palette du goût" */

$couleur-primaire: #579c87;
$couleur-secondaire: #fdcb46;
$couleur-bordure-header-footer: #a1c181;

body { 
    margin: 0;
}

header, footer {
    font-family: Helvetica;
    background-color:$couleur-primaire;
    color: $couleur-secondaire;
}

header {
    h1 {
        text-align: center;
        margin: 0;
        padding: 2% 0 2% 0;
        border-bottom: 0.5px solid $couleur-bordure-header-footer; 
        a {
            text-decoration: none;
            color: $couleur-secondaire;
            -webkit-text-stroke: 0.5px;
            -webkit-text-stroke-color: darken($couleur-secondaire, 20%);
        }
    }
}

.title {
    text-align: center;
    font-family: Helvetica;
    font-size: 155%;
}

.food {
    width: 650px;
    height: 100%;
    margin: auto;
    margin-bottom: 8%;
    padding-bottom: 5%;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    box-shadow: 0px 0px 8px 6px rgba(232,232,232,1);
    .frensh-restaurant, .titre, .resto {
    display: flex;
    align-items: center;
    }
    .frensh-restaurant {
        flex-direction: column;
        align-items: center;
        font-weight: lighter;
        h2 {
            font-weight: lighter;
            padding: 4% 0 4% 0;
            margin-block-end: 0;
            text-align: center;
        }
    }
    .titre {
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        h3 {
            background: linear-gradient(to top, rgba(black,0.5) 0%, rgba(black,0.5) 4px, transparent 5px) no-repeat;
            background-size: 0% 100%;
            transition: background-size 1000ms 700ms ease-out;
            text-align: center;
            &:hover {
                background-size: 100% 100%;
            }
        }
        .ligne {
        width: 150px;
        }
    }
    .resto {
        font-size: 105%;
        flex-direction: row;
        line-height: 1;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: baseline;
        .prix {
        font-weight: bold;
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $couleur-primaire;
    border-top: 0.5px solid $couleur-bordure-header-footer;
    a {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        text-decoration: none;
        text-align: center;
        color: $couleur-secondaire;
        display: inline-block;
        animation: wiggle 1500ms infinite;
    }
}

@keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

@-webkit-keyframes wiggle {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(4deg)}
    50%{transform: rotate(-4deg)}
    100%{transform: rotate(0deg)}
}

.food-la-palette-du-gout {
    background-color: #fdfffd;
}

.frensh-restaurant-name-la-palette-du-gout {
    font-family: 'kaushan';
    font-size: 250%;
    color: #3d9339;
    background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
    background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3-la-palette-du-gout, .resto-la-palette-du-gout {
    font-family: 'comics';
}