.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 3%;
  min-height: 450px;
  box-shadow: 0 0 6px #ccc;
  font-size: 150%;
}

// For the four pages

// Title
.title {
  text-align: center;
  font-family: Helvetica;
  font-size: 155%;
}
// The content
.food {
  width: 650px;
  height: 100%;
  margin: auto;
  margin-bottom: 8%;
  padding-bottom: 5%;
  -webkit-box-shadow: 0px 0px 8px 6px rgba(232, 232, 232, 1);
  -moz-box-shadow: 0px 0px 8px 6px rgba(232, 232, 232, 1);
  box-shadow: 0px 0px 8px 6px rgba(232, 232, 232, 1);
  .frensh-restaurant,
  .titre,
  .resto {
    display: flex;
    align-items: center;
  }
  .frensh-restaurant {
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
  }
  .titre {
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    .ligne {
      width: 150px;
    }
  }
  .resto {
    font-size: 105%;
    flex-direction: row;
    line-height: 1;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    .prix {
      font-weight: bold;
    }
  }
}
