.food-la-palette-du-gout {
  background-color: #fdfffd;
}

.frensh-restaurant-name-la-palette-du-gout {
  font-family: 'kaushan';
  font-size: 250%;
  color: #3d9339;
  background: -o-linear-gradient(left, #3d9339 0%, #c0fd87 100%);
  background: linear-gradient(to right, #3d9339 0%, #c0fd87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h3-la-palette-du-gout,
.resto-la-palette-du-gout {
  font-family: 'comics';
}
