.food-la-note-enchantee {
  color: #3d1319;
  background-color: #fcdfdb;
}

.frensh-restaurant-la-note-enchantee {
  padding-top: 5%;
  text-align: center;
}

.frensh-restaurant-name-la-note-enchantee {
  font-family: 'devonshire';
  margin-top: 5px;
  font-size: 150%;
  margin-block-end: 0;
}

.h3-la-note-enchantee .resto-la-note-enchantee {
  font-family: 'comics';
}
#signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  p {
    font-family: 'devonshire';
    font-size: 150%;
    padding-left: 2%;
  }
}
